
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row::after {
  clear: both;
  content: "";
  display: table;
}

.winOrLose {
  font-size: 50px;
  color: red;
}

.list a {
  font-size: 30px;
}

.status {
  margin-bottom: 10px;
  font-size: 35px;
  color: red;
}

.moves li {
  font-size: 25px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square1 {
  background: #fff;
  border: 3px solid rgb(233, 14, 13);
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 54px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  font-family: cursive;
  color: rgb(43, 80, 175);
}

.square:focus {
  outline: none;
}

.square1:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin: 30px 15px 5px 10px;
}

.game-info {
  margin-left: 20px;
}
